In [15]:
import pandas as pd
import fasttext
import re
from sklearn.model_selection import train_test_split,StratifiedKFold,KFold
from sklearn.metrics import classification_report
import ast
import numpy as np
import gensim
from gensim.models import word2vec
pd.set_option('display.max_colwidth', -1)

In [16]:
df = pd.read_csv('ready_to_serve_train.csv')
df_test = pd.read_csv('ready_to_serve_dev.csv')
# df_test = df_test[~pd.isnull(df_test.text)]

In [17]:
test_lines = df_test["edited_head_line"].values

In [18]:
df.head(5)

,id,original,edit,grades,meanGrade,grade_round,grades_0,grades_1,grades_2,grades_3,grades_4,edited_head_line,original_cleaned
0,14530,France is ‘ hunting down its citizens who joined <Isis/> ’ without trial in Iraq,twins,10000,0.2,0,1,0,0,0,0,france is hunting down its citizens who joined twins ’ without trial in iraq,france is hunting down its citizens who joined isis ’ without trial in iraq
1,13034,"Pentagon claims 2,000 % increase in Russian trolls after <Syria/> strikes . What does that mean ?",bowling,33110,1.6,2,3,3,1,1,0,"pentagon claims 2,000 % increase in russian trolls after bowling strikes . what does that mean ?","pentagon claims 2,000 % increase in russian trolls after syria strikes . what does that mean ?"
2,8731,Iceland PM Calls Snap Vote as Pedophile Furor Crashes <Coalition/>,party,22100,1.0,1,2,2,1,0,0,iceland pm calls snap vote as pedophile furor crashes party,iceland pm calls snap vote as pedophile furor crashes coalition
3,76,"In an apparent first , Iran and Israel <engage/> each other militarily",slap,20000,0.4,0,2,0,0,0,0,"in an apparent first , iran and israel slap each other militarily","in an apparent first , iran and israel engage each other militarily"
4,6164,Trump was told weeks ago that Flynn misled <Vice/> President .,school,0,0.0,0,0,0,0,0,0,trump was told weeks ago that flynn misled school president .,trump was told weeks ago that flynn misled vice president .

In [19]:
df[["original","edit"]].head(5)

,original,edit
0,France is ‘ hunting down its citizens who joined <Isis/> ’ without trial in Iraq,twins
1,"Pentagon claims 2,000 % increase in Russian trolls after <Syria/> strikes . What does that mean ?",bowling
2,Iceland PM Calls Snap Vote as Pedophile Furor Crashes <Coalition/>,party
3,"In an apparent first , Iran and Israel <engage/> each other militarily",slap
4,Trump was told weeks ago that Flynn misled <Vice/> President .,school

In [13]:
sentences = word2vec.Text8Corpus('/data/gensim/text8')
model = word2vec.Word2Vec(sentences, size = 200)

In [24]:
model.doesnt_match("France  hunting down citizens who joined Isis without trial in Iraq twins".split())

/home/raghavan/anaconda3/envs/semeval_2020/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `doesnt_match` (Method will be removed in 4.0.0, use self.wv.doesnt_match() instead).
  """Entry point for launching an IPython kernel.

'joined'