### Create easy readable csv file

In [37]:
import pandas as pd
import glob

path = r'/data/semeval-2020/task-11/datasets/train-articles/'
all_files = glob.glob(path + "/*.txt")

content_tuple = []

for filename in all_files:
    file = open(filename)
    content = "".join(file.readlines()).replace("\n"," ")
    article_id = filename.split("article")[-1].split(".txt")[0]
    content_tuple.append((article_id,content))

In [38]:
content_df = pd.DataFrame(content_tuple,columns=["article_id","content"])

In [39]:
content_df.head()

  article_id                                            content
0  762956953  Iran Admits To Aiding Al-Qaeda and Facilitatin...
1  787529309  The Last-Minute Character Assassination of Jud...
2  999001296  Altered Election Documents Tied To Florida Dem...
3  729348908  Virginia man who wanted to join ISIS pleads gu...
4  111111134  Paul Manafort Secretly Met With Julian Assange...

In [40]:
content_df.to_csv("/data/semeval-2020/task-11/processed/train_article.csv",index=False)

### Read span and label data

In [41]:
import pandas as pd
import glob

path = r'/data/semeval-2020/task-11/datasets/train-labels-task2-technique-classification/'
all_files = glob.glob(path + "/*.labels")

span_tuple = []
# print(all_files)

for filename in all_files:
    file = open(filename)
    for span in file.readlines():
        span_tuple.append(span.replace("\n","").split("\t"))

In [54]:
span_labels_df = pd.DataFrame(span_tuple,columns=["article_id","labels","start","end"],dtype=None).infer_objects()

In [57]:
span_labels_df.head()

  article_id                     labels start   end
0  776616374  Exaggeration,Minimisation   149   174
1  776616374  Exaggeration,Minimisation   751   786
2  776616374      Name_Calling,Labeling   831   849
3  776616374                Flag-Waving  2641  2650
4  776616374            Loaded_Language  2771  2782

In [56]:
space_labels_df.to_csv("/data/semeval-2020/task-11/processed/span_labels.csv",index=False)